body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #1E1E1E;
    /* font-family: 'Quicksand', sans-serif; */

}

/* ==================================================================Typography */
.f-48 {
    font-size: 48px;
}

.f-46 {
    font-size: 46px;
}

.f-44 {
    font-size: 44px;
}

.f-42 {
    font-size: 42px;
}

.f-40 {
    font-size: 40px;
}

.f-38 {
    font-size: 38px;
}

.f-36 {
    font-size: 36px;
}

.f-34 {
    font-size: 34px;
}

.f-32 {
    font-size: 32px;
}

.f-30 {
    font-size: 30px;
}

.f-28 {
    font-size: 28px;
}

.f-26 {
    font-size: 26px;
}

.f-24 {
    font-size: 24px;
}

.f-22 {
    font-size: 22px;
}

.f-20 {
    font-size: 20px;
}

.f-18 {
    font-size: 18px;
}

.f-16 {
    font-size: 16px;
}

.f-14 {
    font-size: 14px;
}

.f-12 {
    font-size: 12px
}

.w-300 {
    font-weight: 300;
}

.w-400 {
    font-weight: 400;
}

.w-500 {
    font-weight: 500;
}

.w-600 {
    font-weight: 600;
}

.w-700 {
    font-weight: 700;
}

.text-gray {
    color: #777777 !important;
}
.padding {
    padding-left: 30px;
    padding-right: 30px;
}
.padding-y-150{
    padding-top: 150px;
    padding-bottom: 150px;
}
.mb-75{
    margin-bottom: 75px;
}
.mb-100{
    margin-bottom: 100px;
}
.mb-24{
    margin-bottom: 24px;
}
.mt-85{
    margin-top: 85px;
}
.mb-32{
    margin-bottom: 32px;
}
.mt-100{
    margin-top: 100px;
}
.pt-100{
    padding-top: 100px;
}
.pb-100{
    padding-bottom: 100px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-150{
    margin-bottom: 150px;
}
/* ==================================================================common */


.main-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 84px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.gray-text {
    color: #777777;
}

.primary-text {
    color: #3C1AED !important;
}

.gray-light-text {
    color: #7F7F7F;
    opacity: 0.7;
}

.blue-btn {
    background: #3C1AED;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    padding: 16px 24px;
    border: 2px solid #3C1AED;

}
.blue-btn-sm {
    background: #3C1AED;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    padding: 12px 24px;
    border: 2px solid #3C1AED;

}
.blank-btn {
    padding: 0px 24px;
    text-align: center;
    background-color: transparent;
    border: none;
    padding: none;
    
}
.black-btn {
    padding: 0px 24px;
    text-align: center;
    background-color: #121212;
    border: none;
    padding: none;
    border: 2px solid #121212;
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius: 4px;
}
.blue-btn:hover {
    background-color: transparent;
    border: 2px solid #3C1AED;
    color: #3C1AED !important;
}
.black-btn:hover {
    background-color: transparent;
    border: 2px solid #121212;
    color: #121212 !important;
}
.blue-btn-sm:hover {
    background-color: transparent;
    border: 2px solid #3C1AED;
    color: #3C1AED !important;
}
.shadow {
    filter: drop-shadow(0px 15px 30px rgba(78, 78, 78, 0.25));
}

.no-decoration {
    text-decoration: none;
}

.line-height-27 {
    line-height: 27px;
}
.text-justify{
    text-align: justify;
}
.ellipsis-1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* ==================================================================header */
.navbar {
    padding: 15px 0px;
}

.navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.nav-item {
    padding-left: 25px;
}

.nav-link {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF !important;
}

.nav-link:hover {
    color: #3C1AED !important;
}

/* ============================================================Form */

.white-input {
    background: #FFFFFF;
    border: 0.5px solid rgba(14, 50, 118, 0.15);
    box-shadow: 0px 15px 30px rgba(78, 78, 78, 0.25);
    border-radius: 4px;
    padding: 20px 24px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.form-card {
    background: #FFFFFF;
    border: 0.5px solid rgba(14, 50, 118, 0.15);
    box-shadow: 0px 15px 30px rgba(78, 78, 78, 0.25);
    border-radius: 4px;
    padding: 30px 40px;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
}

.quantity-input {
    padding: 16px 24px;
    height: 59px;
    background: #FFFFFF;
    border: 1px solid #777777;
    border-radius: 4px;
    padding: 16px 24px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.spare-card-row {
    height: 100%;
}

.drop-zone {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border-radius: 10px;
    object-fit: contain !important;
    object-position: center;
}

.drop-zone__prompt {
    width: 100%;
    height: 160px;
    object-fit: contain !important;
    object-position: contain;
    border-radius: 10px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: red;
    font-size: 14px;
    text-align: center;
    display: none;
}

/* ==================================================================================Footer */
.footer {
    border-top: 1px solid #3C1AED;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
    background-color: #121212 !important;
}

.footer-input {
    background: #FFFFFF;
    border: 1px solid #9A9EA5;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
}





/* ========================================================================flipr card */
.flipster--loop .flipster__item {
    position: absolute;
}

.flipster--loop .flipster__item--past-2 {
    transform: translateX(-100%);
}

.flipster--loop .flipster__item--future-2 {
    transform: translateX(100%);
}

.flipster--loop .flipster__item--past-1 {
    transform: translateX(-50%);
}

.flipster--loop .flipster__item--future-1 {
    transform: translateX(50%);
}

.flipster--infinite-carousel .flipster__container,
.flipster--infinite-carousel .flipster__item {
    transition: all 350ms ease-in-out;
    transition-timing-function: cubic-bezier(0.56, 0.12, 0.12, 0.98);
}

.flipster--infinite-carousel .flipster__item__content {
    transition: inherit;
}

.flipster--infinite-carousel .flipster__item {
    position: absolute;
    opacity: 0;
    perspective: 800px;
}

.flipster--infinite-carousel .flipster__item--past-2,
.flipster--infinite-carousel .flipster__item--future-2 {
    opacity: 0.6;
    transition-delay: 90ms;
}

.flipster--infinite-carousel .flipster__item--past-1,
.flipster--infinite-carousel .flipster__item--future-1 {
    opacity: 0.8;
    transition-delay: 60ms;
}

.flipster--infinite-carousel .flipster__item--current {
    opacity: 1;
    transition-delay: 0;
}

.flipster--infinite-carousel .flipster__item--past .flipster__item__content,
.flipster--infinite-carousel .flipster__item--future .flipster__item__content {
    transform: scale(0.7);
}

.flipster--infinite-carousel .flipster__item--past-2 .flipster__item__content {
    transform: translateX(-75%) rotateY(0deg) scale(0.6);
}

.flipster--infinite-carousel .flipster__item--future-2 .flipster__item__content {
    transform: translateX(75%) rotateY(0deg) scale(0.6);
}

.flipster--infinite-carousel .flipster__item--past-1 .flipster__item__content {
    transform: translateX(-50%) rotateY(0deg) scale(0.8);
}

.flipster--infinite-carousel .flipster__item--future-1 .flipster__item__content {
    transform: translateX(50%) rotateY(0deg) scale(0.8);
}

.flipster--infinite-carousel .flipster__item--current .flipster__item__content {
    transform: translateX(0) rotateY(0deg) scale(1);
}

.scroll-card {
    width: 500px;
    height: auto;
    height: 100% !important;
    cursor: pointer;
}

.flipster {
    overflow-y: hidden !important;

}

.flipster__nav {
    margin-bottom: 20px;
    margin-top: 30px !important;
}

.flipster__nav__link {
    width: 160px;
    height: 59px;
    background: rgba(52, 13, 254, 0.15);
    border-radius: 0px;
    margin: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

.flipster__nav__item {
    margin: 0px !important;
}

.flipster__nav__item--current .flipster__nav__link {
    width: 180px;
    height: 67px;
    background: #3C1AED;
    border-radius: 4px;
}











/* =============================================================================================checkout page
============================================================================================================ */
.form-group {
    width: 10%;
    margin: 30px;
}

.form-group input[type="text"] {
    width: 100%;
    text-align: right;
}

.order-card {
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 32px 70px;
}

.order-img {
    height: 100px;
    width: 170px;
}

.order-text h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #121212;

}

.order-text h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #7F7F7F;

}

.order-text h2 span {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #121212;
}

.order-text .input-group .input-group-btn button {
    width: 15px;
    height: 15px;
    background: #121212;
    border-radius: 2px;
    font-size: 10px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.input-quantity {
    background-color: transparent;
    padding: 0px !important;
    font-size: 16px;
    width: 40px !important;
    border: none;
    text-align: center;
    font-weight: 600;
}

.order-text button {
    background-color: transparent;
    border: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #777777;
}

/* =======================================================pricing cards */
.pricing-card {
    background-color: #121212;
    padding: 30px 30px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.checkout-card {
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 40px 60px;
}

.checkout-input {
    position: relative;
    background: #FFFFFF;
    border: 0.5px solid rgba(119, 119, 119, 0.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 16px 21px;
    padding-left: 40px;
}

.checkout-input img {
    position: absolute;
    top: 20px;
    left: 20px;

}

.checkout-input input {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 0px 15px
}

.checkout-input input:active,
.checkout-input input:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.checkout-input input::placeholder {
    color: rgba(0, 0, 0, 0.5);

    opacity: 0.5;

}


/* =================================================================Dashboard page
===================================================================================== */
.profile-img{
    max-height: 400px;
    width: auto;
    border-radius: 4px;
    overflow: hidden;
}
.profile-img img{
    max-height: 400px;
    width: auto;
    filter: drop-shadow(0px 15px 30px rgba(78, 78, 78, 0.25));
    border-radius: 4px;
}
.about-card{
    background: #FFFFFF;
box-shadow: 1px 4px 32px rgba(224, 224, 224, 0.5);
border-radius: 4px;
padding: 50px 71px;

}
.link-card{
    background: #121212;
box-shadow: 0px 15px 30px rgba(78, 78, 78, 0.25);
border-radius: 4px;
padding: 24px 40px;
display: flex;
justify-content: space-between;
align-items: center;
}
.link-card img{
    height: 80px;
    width: auto;
}

.arrow-img{
    height: 48px !important;
    width: auto;
}
.link-card-img{
    height: 80px !important;
    width: 95px !important;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    object-fit: contain;
}
.link-card-img img{
height: 40px !important;
width: auto;
}