body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #1E1E1E;
/* font-family: 'Quicksand', sans-serif; */

}
/* ==================================================================Typography */
.f-48{
    font-size: 48px;
}
.f-46{
    font-size: 46px;
}
.f-44{
    font-size: 44px;
}
.f-42{
    font-size: 42px;
}
.f-40{
    font-size: 40px;
}
.f-38{
    font-size: 38px;
}
.f-36{
    font-size: 36px;
}
.f-34{
    font-size: 34px;
}
.f-32{
    font-size: 32px;
}
.f-30{
    font-size: 30px;
}
.f-28{
    font-size: 28px;
}
.f-26{
    font-size: 26px;
}
.f-24{
    font-size: 24px;
}
.f-22{
    font-size: 22px;
}
.f-20{
    font-size: 20px;
}
.f-18{
    font-size: 18px;
}
.f-16{
    font-size: 16px;
}
.f-14{
    font-size: 14px;
}
.f-12{
    font-size: 12px
}
.w-300{
    font-weight: 300;
}
.w-400{
    font-weight: 400;
}
.w-500{
    font-weight: 500;
}
.w-600{
    font-weight: 600;
}
.w-700{
    font-weight: 700;
}
.text-gray{
    color: #777777 !important;
}
/* ==================================================================common */
.padding{
    padding: 0px 30px;
}
.main-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 84px;
    color: #FFFFFF;
}
.gray-text {
    color: #777777;
}
.primary-text{
    color: #3C1AED;
}
.blue-btn{
background: #3C1AED;
border-radius: 4px;
border: none;
font-weight: 600;
font-size: 18px;
color: #FFFFFF;
padding: 16px 24px;
border: 2px solid #3C1AED;

}
.blank-btn{
    padding: 0px 24px;
    text-align: center;
    background-color:transparent;
    border: none;
    padding: none;
}
.blue-btn:hover{
    background-color: transparent;
    border: 2px solid #3C1AED;
    color: #3C1AED !important;
}
.shadow{
    filter: drop-shadow(0px 15px 30px rgba(78, 78, 78, 0.25));
}
.no-decoration{
    text-decoration: none;
}
.line-height-27{
    line-height: 27px;
}
/* ==================================================================header */
.navbar{
    padding: 15px 0px;
}
.navbar-toggler:focus{
box-shadow: none;
outline: none;
}
.nav-item{
    padding-left:  25px;
}
.nav-link {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF !important;
}
.nav-link:hover{
    color: #3C1AED !important;
}
/* ============================================================Form */

.white-input{
    background: #FFFFFF;
border: 0.5px solid rgba(14, 50, 118, 0.15);
box-shadow: 0px 15px 30px rgba(78, 78, 78, 0.25);
border-radius: 4px;
padding: 20px 24px;
width: 100%;
font-style: normal;
font-weight: 400;
font-size: 24px;
}
.form-card{
    background: #FFFFFF;
border: 0.5px solid rgba(14, 50, 118, 0.15);
box-shadow: 0px 15px 30px rgba(78, 78, 78, 0.25);
border-radius: 4px;
padding: 25px;
height: 100%;
flex-grow: 1;
overflow: hidden;
}
.quantity-input{
    padding: 16px 24px;
height: 59px;
background: #FFFFFF;
border: 1px solid #777777;
border-radius: 4px;
padding: 16px 24px;
color: black;
font-size: 18px;
font-weight: 600;
text-align: center;
}
.spare-card-row{
    height: 100%;
    }
.drop-zone {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border-radius: 10px;
    object-fit: contain !important;
    object-position: center;
  }
  .drop-zone__prompt{
    width: 100%;
    height: 160px;
    object-fit:contain !important;
    object-position:contain;
    border-radius: 10px;
  }
  
  .drop-zone--over {
    border-style: solid;
  }
  
  .drop-zone__input {
    display: none;
  }
  
  .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    position: relative;
  }
  
  .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background:red;
    font-size: 14px;
    text-align: center;
    display: none;
  }
/* ==================================================================================Footer */
.footer{
    border-top: 1px solid #3C1AED;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.footer-input{
    background: #FFFFFF;
border: 1px solid #9A9EA5;
border-radius: 5px;
padding:5px 10px;
font-size: 14px;
}





/* ========================================================================flipr card */
 .flipster--loop .flipster__item {
	 position: absolute;
}
 .flipster--loop .flipster__item--past-2 {
	 transform: translateX(-100%);
}
 .flipster--loop .flipster__item--future-2 {
	 transform: translateX(100%);
}
 .flipster--loop .flipster__item--past-1 {
	 transform: translateX(-50%);
}
 .flipster--loop .flipster__item--future-1 {
	 transform: translateX(50%);
}
 .flipster--infinite-carousel .flipster__container, .flipster--infinite-carousel .flipster__item {
	 transition: all 350ms ease-in-out;
	 transition-timing-function: cubic-bezier(0.56, 0.12, 0.12, 0.98);
}
 .flipster--infinite-carousel .flipster__item__content {
	 transition: inherit;
}
 .flipster--infinite-carousel .flipster__item {
	 position: absolute;
	 opacity: 0;
	 perspective: 800px;
}
 .flipster--infinite-carousel .flipster__item--past-2, .flipster--infinite-carousel .flipster__item--future-2 {
	 opacity: 0.6;
	 transition-delay: 90ms;
}
 .flipster--infinite-carousel .flipster__item--past-1, .flipster--infinite-carousel .flipster__item--future-1 {
	 opacity: 0.8;
	 transition-delay: 60ms;
}
 .flipster--infinite-carousel .flipster__item--current {
	 opacity: 1;
	 transition-delay: 0;
}
 .flipster--infinite-carousel .flipster__item--past .flipster__item__content, .flipster--infinite-carousel .flipster__item--future .flipster__item__content {
	 transform: scale(0.7);
}
 .flipster--infinite-carousel .flipster__item--past-2 .flipster__item__content {
	 transform: translateX(-75%) rotateY(0deg) scale(0.6);
}
 .flipster--infinite-carousel .flipster__item--future-2 .flipster__item__content {
	 transform: translateX(75%) rotateY(0deg) scale(0.6);
}
 .flipster--infinite-carousel .flipster__item--past-1 .flipster__item__content {
	 transform: translateX(-50%) rotateY(0deg) scale(0.8);
}
 .flipster--infinite-carousel .flipster__item--future-1 .flipster__item__content {
	 transform: translateX(50%) rotateY(0deg) scale(0.8);
}
 .flipster--infinite-carousel .flipster__item--current .flipster__item__content {
	 transform: translateX(0) rotateY(0deg) scale(1);
}
 .scroll-card{
    width: 500px;
    height: auto;
    height: 100% !important;
    cursor: pointer;
 }
 .flipster{
    overflow-y:hidden!important;

 }
 .flipster__nav{
    margin-bottom: 20px;
    margin-top: 30px !important;
 }

 .flipster__nav__link{
    width: 160px;
height: 59px;
background: rgba(52, 13, 254, 0.15);
border-radius: 0px;
margin: 0px !important;
display: flex;
justify-content: center;
align-items: center;
font-weight: 400;
font-size: 16px;
color: rgba(255, 255, 255, 0.4);
text-decoration: none;
 }
 .flipster__nav__item{
    margin: 0px !important;
 }

.flipster__nav__item--current  .flipster__nav__link{
    width: 180px;
    height: 67px;
    background: #3C1AED;
    border-radius: 4px;
}